body
    font-family: Arial

header
    background-color: #ff6347
    color: white
    padding: 50px
    text-align: center

.sidebar
    float: right
    border: 1px solid #ff6347
    padding: 10px
    margin: 10px
    
.main-content
    float: left
    padding: 10px
    width: 50%
    
footer
    clear: both
    font-size: 10px
    text-align: center
    margin-top: 250px
    bottom: 0